* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 50px auto;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px); 
    grid-auto-rows: 200px; 
    gap: 15px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.coffee {
    grid-column: span 2;
}

.flowers {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.banner {
    grid-column: 3 / span 2;
    grid-row: 2;
}
