* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.gallery-wrapper {
    position: relative;
    width: 1000px; 
}

.center-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #333;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    grid-auto-rows: 200px; 
    gap: 40px; 
    justify-content: center;
}

.grid-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.text-block {
    font-weight: 300;
    text-transform: lowercase;
    color: #333;
    font-size: 40px;
    letter-spacing: 5px;
    margin-left: -200px;
    display: flex;
    align-items: center;
}

.main-text {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.sub-text {
    grid-column: 1;
    grid-row: 2;
}


.img-coffee { grid-column: 3; grid-row: 1; margin-left: -180px; }
.img-plant-vase { grid-column: 3; grid-row: 2; margin-left: 130px; } 
.img-flowers { grid-column: 3; grid-row: 3; margin-left: -180px; }
.img-eucalyptus { grid-column: 3; grid-row: 4; margin-left: 130px; } 

.img-leaves { grid-column: 2; grid-row: 2; margin-left: -160px;}
.img-single-leaf { grid-column: 1; grid-row: 3; margin-left: -130px; } 
.img-workspace { grid-column: 1; grid-row: 4; margin-left: -450px;}
.img-lamp { grid-column: 2; grid-row: 4; margin-left: -160px;}